*{
  margin: 0;
  padding: 0;
}
body{ 
  background-color:black;
  color: white;
}
nav{
  display:flex;
  width: 100%;
  justify-content:space-between;
  align-items: center;
  height: 50px;
  background-color: rgb(30, 30, 52);
}
nav ul {
  display: flex;
   justify-content: center;
  }
  nav li {
     list-style: none;
      margin: 28px;
    }
  nav ul li a{
    text-decoration: none;
    color: white;
  }
  nav ul li a:hover{
  color:rgb(109, 84, 84);
  font-size: 1.02rem;
  }
  .left {
   font-size: 1.5rem;
  }
  .right{
  max-width: 130%;
  }
  .firstsection {
  display: flex;
  justify-content: space-around;
  margin: 70px 50px;
  width: 90%;
  }
  .firstsection > div {
   width: 50%;
  }
  .leftsection {
  font-size: 2rem;
  margin: -30px 0px;
  }
  .purple {
   color: rgb(152, 0, 254);
  }
  .rightsection img {
  width: 70%;
  margin: -40px 0px -35px 70px;
  }
  .gray{
  color: grey;
  }
  main hr{
  background-color: rgb(94, 25, 94);
  height: 1px;
  margin: 40px 40px;
  }
      
  #element{
  color: rgb(126, 0, 126);
  }
  .section.container{
  max-width: 80vw;
  margin:auto;
  height: 45vh;
  }
  .section.title{
  flex: 0 0 100%;
  max-width: 100%;
  margin-top: 50px;
}
.section-title h2{
  font-size: 1.5rem;
  color:var(--text-black-900);
  font-weight: 700;
  position: relative;
  margin-bottom: 20px;
}
.imgnn img{
  width: 15rem;
  margin: -220px 0px 0px 577px;
}
.Secondsection{
  max-width: 80vw;
  margin:auto;
  height: 56vh;
}
.Secondsection h1{
  font-size: 1.5rem;
}
.Secondsection .box{
  background: white;
  width: 80vw;
  height: 1px;
  margin: 45px 0px;
  display: flex;
}
.Secondsection .vertical{
  background-color: white;
  height: 30px;
  width: 0.5px;
  margin: 0px 100px;
}
.img-1 {
    width: 100px;
    top: -2px;
    position: relative;
    left: -50px;
    top: 55px;
  }
  .img-1{
    animation: spinner infinite 10s linear;
  }
  @keyframes spinner{
    from{
      transform: rotate(0deg);
    }
    to{
      transform: rotate(360deg);
    }
  } 
  .img-2 {
    width: 100px;
    top: -2px;
    position: relative;
    left: -50px;
    top: 55px;
}
.img-2{
  animation: spinner infinite 10s linear;
}
@keyframes spinner{
  from{
    transform: rotate(0deg);
  }
  to{
    transform: rotate(360deg);
  }
}
.img-3 {
  width: 100px;
  top: -2px;
  position: relative;
  left: -50px;
  top: 55px;
}
.img-3{
  animation: spinner infinite 10s linear;
}
@keyframes spinner{
  from{
    transform: rotate(0deg);
  }
  to{
    transform: rotate(360deg);
  }
}
.img-4 {
  width: 100px;
  top: -2px;
  position: relative;
  left: -50px;
  top: 55px;
}
.img-4{
  animation: spinner infinite 10s linear;
}
@keyframes spinner{
  from{
    transform: rotate(0deg);
  }
  to{
    transform: rotate(360deg);
  }
}
.contact-cols{
  display: flex;
  height: 65vh;
  justify-content: center;
  align-items: center;
  }
            
  .info{
  flex-basis: 30%;
  }
  .info2{
    flex-basis: 35%;
  }
  input[type= text]{
  padding: 12px;
  color: whitesmoke;
  padding-right: 15rem;
  margin-bottom: 21px;
  background: transparent;
  border-radius: 10px;
  outline: none;
  border: 2px solid whitesmoke;
  box-shadow: 2px 2px 10px whitesmoke;
}
textarea{
  padding: 55px;
  color: whitesmoke;
  background: transparent;
  border-radius: 10px;
  outline: none;
  border: 2px solid whitesmoke;
  box-shadow: 2px 2px 10px whitesmoke;
  padding-right: 65px;
}
::placeholder{
  color: whitesmoke;
  text-transform: capitalize;
  font-family: 'Trebuchet MS', 'Lucida Sans Unicode', 'Lucida Grande', 'Lucida Sans', Arial,sans-serif;
}
input[type= submit]{
  margin-top: 20px;
  color: whitesmoke;
  padding: 10px;
  outline: none;
  border: 2px solid whitesmoke;
  background-color: transparent;
  box-shadow: 2px 2px 10px whitesmoke;
  border-radius: 10px;
}
input[type= submit]:hover{
    padding-right: 40px;
    padding-left: 40px;
    transition: 0.3s ease-in-out;
  }
  .head h1{
    font-family: 'Trebuchet MS', 'Lucida Sans Unicode', 'Lucida Grande', 'Lucida Sans', Arial, sans-serif;
    text-transform: capitalize;
    font-size: 2rem;
    margin-bottom: 10px;
  }
  .head span{
    font-size: 2.5rem;
    color: whitesmoke;
  }
  .head h3{
    font-family:'Trebuchet MS', 'Lucida Sans Unicode', 'Lucida Grande', 'Lucida Sans', Arial, sans-serif;
    font-weight: lighter;
  }
            
  .head i{
  font-size: 1.2rem;
  }
            
  .apps{
  margin-top: 20px;
  display: flex;
  }
            
  .apps i{
  margin-right: 13px;
  font-size: 2rem;
  padding: 7px;
  }
            
  .apps i:hover{
  color:whitesmoke;
  font-size: 3rem;
  transition: .6s ease-in-out;
  position: absolute;
  }
  footer {
  background-color:rgb(62, 60, 60);
  }
  .fc{
  width: 90%;
  padding: 70px 30px 20px;
  }
  .si{
  display: flex;
  justify-content: center;
  }
  .si a{
  text-decoration: none;
  padding: 10px;
  background-color: white;
  margin: 10px;
  border-radius: 50%;
  }
  .si a i{
  font-size: 2em;
  color: black;
  opacity: 0.9;
  }
  .si a:hover{
  background-color:rgb(62, 60, 60);
  transition: 0.5s;
  }
  .si a:hover i{
  color: white;
  transition: 0.5s;
  }
  .footerNav {
  margin: 30px 0;
  }
  .footerNav ul{
  display: flex;
  justify-content: center;
  list-style: none;
  }
 .footerNav ul li a{
  color: white;
  margin: 20px;
  text-decoration: none;
  font-size: 1.3em;
  opacity: 0.1;
  transition: 0.5s;
  }
  .footerNav ul li a:hover{
  opacity: 1;
  color:rgb(239, 0, 239);
 }
  .footerBottom{
  background-color:rgb(62, 60, 60);
  padding: 20px;
  text-align: center;
  }
  .footerBottom p{
  color: white;
 }
 .designer{
  opacity: 0.7;
  text-transform: uppercase;
  letter-spacing: 1px;
  font-weight: 400;
  margin: 0px 5px;
 }
@media only screen and (max-width: 600px) {
body {
  font-size: 14px;
}
}
nav {
 @media only screen and (max-width: 600px) {
 flex-direction: column;
 align-items: stretch;
 height: auto;
 ul {
 justify-content: center;
 margin-top: 20px;
 }
 li {
 margin: 10px 0;
}
}
}
@media only screen and (max-width: 600px) {
  body {
    font-size: 14px;
  }
  nav {
  flex-direction: column;
  align-items: stretch;
  height: auto;
  ul {
  justify-content: center;
  margin-top: 20px;
}
li {
  margin: 10px 0;
}
.firstsection,
.Secondsection {
flex-direction: column;
align-items: center;
}

.rightsection img,
.imgnn img {
margin: 0;
width: 100%;
}
}
}